<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>ようこそ</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  <p>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
    <a href="/lec02/g">ぐー</a>
    <a href="/lec02/t">ちょき</a>
    <a href="/lec02/p">ぱー</a>
  <div th:if="${player}">
    あなたの手 [[${player}]]
  </div>
  <div th:if="${cpu}">
    相手の手 [[${cpu}]]
  </div>
  <div th:if="${judge}">
    結果 [[${judge}]]
  </div>
  </p>
</body>

</html>
